.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__item {
    margin-right: 20px;
}

.menu__item:last-of-type {
    margin-right: 0;
}

.menu__link {
    color: #fff;
    padding: 2px 6px;
    border: 2px solid #555;
    border-radius: 6px;
}

.menu__link:hover {
    border: 2px solid #fff;
}