body {
  background: linear-gradient(to right, darkblue, lightblue);
  font-family: sans-serif;
  font-size: 24px;
  color: #fff;
}

.wrapper {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}


.back,
.next {
    position: fixed;
    display: block;
    bottom: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: navy;
    color: gold;
    cursor: pointer;
    box-shadow: 0 0 5px 2px hsla(0, 100%, 100%, 0.2);
  }
  .next {
    right: 50px;
  }
  .back {
    left: 50px;
  }
  .back:hover,
  .next:hover  {
    box-shadow: 0 0 5px 4px hsla(0, 100%, 100%, 0.5);
  }
